<section>
    <h2 id="about-me">About Myself</h2>
    <hr class="bar" />
    <div class="about-lock">
        <!-- <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front"> -->
        <div class="face-img"></div>
        <div class="icon-web-programming">{% include svg-icon/icon-web-programming.html %}</div>
	<div class="icon-terminal_2">{% include svg-icon/icon-terminal_2.html %}</div>
	<div class="icon-robot">{% include svg-icon/icon-robot.html %}</div>
	<div class="icon-brain_new">{% include svg-icon/icon-brain_new.html %}</div>
        <!-- <div class="glyph-icon flaticon-cogwheel28"></div>
        <div class="glyph-icon flaticon-computer1"></div>
        <div class="glyph-icon flaticon-hosting"></div>
        <div class="glyph-icon flaticon-computers13"></div> -->
    </div>
    <div class="blurb">
        <p>I am Machine Learning Enthusiast with a big passion for Python and Open Source. My interest is in Artificial Intelligence. I also have been exposed to Embedded systems and I used to tinker with Arduino and Atmel microcontrollers. Through them, I soon realized my eagerness towards code and as I progressed I found control and perception are challenging things in AI which lead to my career in Machine learning. I have been working on a variety of problems in the areas of Machine learning. As a passionate Machine learning engineer, I like to explore Jungle of Data with Python ,Pandas, Numpy ,Matplotlib and Scikit-learn as my Swiss-knife for survival. :)
        </p>
    </div>
    <div class="skill-lock"></div>
</section>
