<section>
    <h2 id="about-me">About Myself</h2>
    <hr class="bar" />
    <div class="about-lock">
        <!-- <div ontouchstart="this.classList.toggle('hover');" class="flip-container">
            <div class="flipper">
                <div class="front"> -->
        <div class="face-img"></div>
        <div class="icon-web-programming">{% include svg-icon/icon-web-programming.html %}</div>
	<div class="icon-terminal_2">{% include svg-icon/icon-terminal_2.html %}</div>
	<div class="icon-robot">{% include svg-icon/icon-robot.html %}</div>
	<div class="icon-brain_new">{% include svg-icon/icon-brain_new.html %}</div>
        <!-- <div class="glyph-icon flaticon-cogwheel28"></div>
        <div class="glyph-icon flaticon-computer1"></div>
        <div class="glyph-icon flaticon-hosting"></div>
        <div class="glyph-icon flaticon-computers13"></div> -->
    </div>
    <div class="blurb">
        <p> Hi,<p>
    <div>
    <div class="blurb-text">
        <p>I am a self-taught programmer who started programming in low-level languages to do projects in Arduino & Atmel microcontrollers. Through them, I realised my eagerness towards code and sooner or later I had an epiphany that control and perception are challenging things in Artificial Intelligence which lead to my career in Machine learning. I have been working on a variety of problems in the areas of Machine learning. As a passionate Machine Learning Engineer, I like to explore the Jungle of data with Python, Pandas, Numpy, Matplotlib and Scikit-learn as my Swiss-knife for survival.<i class="em em-smile" style="height: 1.2em; width: 1.2em"></i><br><br>
        When I am not sitting in front of a computer, I enjoy volunteering at Janwaar Castle & learn skateboarding from janwaar kids.<i class="em em-sweat_smile" style="height: 1.2em; width: 1.2em"></i>
        </p>
    </div>
    <div class="skill-lock"></div>
</section>
