<section class="section-contact">
    <h2 id="Details">Contact Details</h2>
    <hr class="bar" />
    <div class="social-links">
        <a href="https://www.facebook.com/nipunsadvilkar">
            <div class="glyph-icon icon-facebook"></div>
        </a>
        <a href="https://in.linkedin.com/in/nipunsadvilkar">
            <div class="glyph-icon icon-linkedin"></div>
        </a>
        <a href="https://github.com/nipunsadvilkar">
            <div class="glyph-icon icon-github"></div>
        </a>
        <a href="https://www.instagram.com/nipunsadvilkar/">
            <div class="glyph-icon icon-instagram"></div>
        </a>
    </div>
    <hr class="bar" /><a href="mailto:nipunsadvilkar@gmail.com" class="biglink">nipunsadvilkar@gmail.com</a></section>