<!-- <div id="container1" class="arrow"></div> -->
<header id="home" class='logo'>
    <!-- <div id="container" class="logo" href="">{% include svg-icon/logo.html %}</div> -->
    <nav>
    	<a href="#about-me">About Me</a>
    	<a href="#Experience">Experience</a>
    	<a href="posts">Blog</a>
    	<a href="#Details">Contact Me</a>
    </nav>
    <h1><span>Nipun Sadvilkar</span></h1>
    <p class="kicker">Self Taught Programmer || Lifelong Learner || AI &amp; Machine Learning Enthusiast</p>
</header>
