<div class="history">
    <div class="cd-timeline-header">
        <h2 id="Experience">Experience</h2>
        <hr class="bar" />
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/ml_new.svg" alt="Location" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Machine Learning Engineer</h2>
                <p>Identifying new opportunities to apply Machine Learning to different parts of the JSM products and building ML systems from data pipelines and training, to real time prediction engine.</p><span class="cd-date">April 2016 - Current</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/stats.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Intern, Software Developer</h2>
                <p>Exploratory Data Analysis on client's data, Data visualisation using D3.js and worked on Full-Stack Web development.</p><span class="cd-date">Aug 2015 - Mar 2016</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/openenvironment.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2>Hardware Designer, OpenEnvironment Team,<br></h2>
                <h2>India Open Data Association</h2>
                <p>The firmware design of the environment monitoring devices.</p><span class="cd-date">June 2015 - Current</span></div>
            <!-- cd-timeline-content-->
	    </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">University of Mumbai</h2>
                <h2 class="story-heading">Electronics and Telecommunication</h2>
                <p> I used to tinker with Arduino and Atmel microcontrollers. Through them, I soon realized my eagerness towards code.</p><span class="cd-date">2011-2015</span></div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
            <!-- cd-timeline-->
        </div>
        <div class="cd-timeline-block">
                <div class="cd-timeline-img cd-location"><img src="../assets/img/question30.svg" alt="Location" /></div>
          </div>
    </section>
    <div class="cd-timeline-header">
        <h2></h2></div>
</div>
