<div class="history">
    <div class="cd-timeline-header">
        <h2 id="Experience">Experience</h2>
        <hr class="bar" />
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/director.svg" alt="optum-director" />
            </div>
            <div class="cd-timeline-content">
                <h2 class="story-heading">Director of Applied AI and Engineering</h2>
                <h3 class="story-heading"><a href="https://www.optum.com/en/" target="_blank">Optum Health and Technology (UnitedHealthGroup)</a></h3>
                <p>✦ Leading a team of 30+ team members comprising of Machine Learning Engineers, Data Engineering, MLOps and Medical Domain Subject Matter Expertise to build AI driven next generation medical coding platform using latest advancement in LLM and Generative AI.
                </p>
                    <span class="cd-date">June 2023 - Present</span>
            </div>
    </div>
    <section id="cd-timeline" class="cd-container">
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/explosion_logo_white.svg" alt="explosion" />
            </div>
            <div class="cd-timeline-content">
                <h2 class="story-heading">Machine Learning Engineer</h2>
                <h3 class="story-heading"><a href="https://explosion.ai" target="_blank">Explosion</a></h3>
                <p>✦ Responsible for a mix of general python software development, Full stack web development, and applied machine learning for the Prodigy Teams product.
                </p>
                    <span class="cd-date">May 2022 - February 2023</span>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/clipboard-with-list.svg" alt="healthcare" />
            </div>
            <div class="cd-timeline-content">
                <h2 class="story-heading">Lead Data Scientist</h2>
                <h3 class="story-heading"><a href="https://www.episource.com/" target="_blank">Episource LLC</a></h3>
                <p>✦ Led a Natural Language Processing (NLP) division - a team of data scientists and subject matter experts (SMEs) - to build an NLP-powered product that extracts diagnosis, procedures, and medical
services from medical records and translate them into alphanumeric codes (ICD-10).
                </p>
                <p>✦ Built a Clinical NLP engine comprised of - NER, domain-specific rules based components, NLI modules - right from data annotation at scale to deploying
                    to production.
                    </br>✦ Built Scalable Data Processing pipeline using Apache Spark on
                    AWS Stack to process thousands of charts on daily basis.</p>
                    <span class="cd-date">Dec 2017 - April
                    2022</span>
            </div>
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/ml_new.svg" alt="Location" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">Machine Learning Engineer</h2>
                <h3 class="story-heading"><a href="http://juxt-smartmandate.com" target="_blank">Juxt Smart Mandate</a>
                </h3>
                <p>✦ Built algorithms to extract multiple features from unstructured medical text - section headers,
                    dates and temporal expressions<br>✦ Assisted in developing Content-based recommendation engine for
                    video streaming platform.</p><span class="cd-date">April 2016 - Nov 2017</span>
            </div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/janwaar_logo.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">Volunteer</h2>
                <h3 class="story-heading"><a href="http://janwaar-castle.org" target="_blank">Janwaar Castle</a></h3>
                <p>Janwaar Castle is India’s First Rural Skateboarding Park in Janwaar, Madhya Pradesh. I help kids by
                    repairing skateboards, install educational apps in the crowd-funded tablets for interactive
                    learning, supporting them in their needs when they come to a city. And looking forward to
                    contributing to Rural Maker Space.</p><span class="cd-date">July 2015 - Current</span>
            </div>
            <!-- cd-timeline-content-->
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/intern_hat.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">Software Engineering Intern</h2>
                <h3 class="story-heading"><a href="http://juxt-smartmandate.com" target="_blank">Juxt Smart Mandate</a>
                </h3>
                <p>Exploratory Data Analysis on client's data, Data visualisation using D3.js and honed skills in
                    Full-Stack Web development.</p><span class="cd-date">August 2015 - March 2016</span>
            </div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/openenvironment.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">Hardware Designer</h2>
                <h3 class="story-heading"><a
                        href="http://knowledge.indiaopendata.com/index.php/India_Open_Environment_Data_Project"
                        target="_blank">OpenEnvironment Team</a></h3>
                <h3 class="story-heading"><a href="https://medium.com/@indiaopendata" target="_blank">India Open Data Association
                        (IODA)</a></h3>
                <p>IODA's journey started in Kumbhathon 5 with an idea to produce cost-effective & scalable devices
                    which could assess the air quality during Kumbh Mela & make this environmental data open for public
                    use. I contributed by doing Hardware setup and the firmware design of the environment monitoring
                    devices.</p><span class="cd-date">June 2015 - November 2015</span>
            </div>
            <!-- cd-timeline-content-->
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/mit_kumbhathon.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">Student Innovator</h2>
                <h3 class="story-heading"><a href="http://www.kumbha.org/" target="_blank">MIT Kumbhathon</a></h3>
                <p> Kumbhathon is a buildathon conducted by MIT Media Lab, USA to expose the city’s pressing issues and
                    generate meaningful solutions. I was part of Kumbhathon 4,5,6 where I worked on two projects:<br> 1.
                    Crowd Management through mobile subscription pings during Kumbh Mela <br> 2. OpenEnvironment Project
                </p><span class="cd-date"> January 2015 - August 2015</span>
            </div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
            <!-- cd-timeline-->
        </div>

        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-picture"><img src="../assets/img/college.svg" alt="Picture" /></div>
            <!-- cd-timeline-img-->
            <div class="cd-timeline-content">
                <h2 class="story-heading">Electronics & Telecommunication Engineering</h2>
                <h3 class="story-heading">University of Mumbai</h3>
                <p> With inclination towards Robotics, I used to tinker with Arduino and AVR microcontrollers projects.
                    Soon, I had an epiphany to focus on Artificial Intelligence & Machine Learning.</p><span
                    class="cd-date">2011 - 2015</span>
            </div>
            <!-- cd-timeline-content-->
            <!-- cd-timeline-block-->
            <!-- cd-timeline-->
        </div>
        <div class="cd-timeline-block">
            <div class="cd-timeline-img cd-location"><img src="../assets/img/university_campus_new.svg"
                    alt="Location" /></div>
        </div>
    </section>
    <div class="cd-timeline-header">
        <h2></h2>
    </div>
</div>
